@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Funnel+Display:wght@300..800&family=Italiana&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

th, td, p {
  font-family: 'Funnel Display', sans-serif;
}

.italiana{
  font-family: 'Italiana', serif;
}

.abril{
  font-family: 'Abril Fatface', serif;
}

.funnel{
  font-family: 'Funnel Display', sans-serif;
}